{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title%}{{ block.super }} Create section{% endblock title%}

{% block content %}
    <div class="row justify-content-center mt-4">
        <div class="col-6">
            <h2>Pronto a creare una nuova sezione?</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-info" type="submit" value="Crea!">
            </form>
        </div>
    </div>
{% endblock content %}